/* body {
    background-color: #454d58; 
    /* font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
}  */

/* 
h1 {
    color: #333;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
} */


/* .pagination svg {
    width: 16px;
    height: 16px;
} */
